{{template "base" .}}

    {{define "title"}}
        Contato
    {{end}}

    
    {{define "css"}}
        <style>
            .my-footer{
                height: 8em;
                margin-top: 8em;
                padding: 2em;
                background-color: #2a2b2a;
                color: #fff;
                font-size: 80%;
            }
        </style>
    {{end}}

    {{define "content"}}
        <!--navigation bar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Bookings</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sobre">Sobre</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/salas" role="button" data-toggle="dropdown" aria-expanded="false">
                    Salas
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/quartos/quartel">Quartel general</a>
                    <a class="dropdown-item " href="/quartos/suite">Suíte master</a>
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fazer-reserva">Criar reserva</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/contato">Contato</a>
                </li>
              </ul>
            
            </div>
        </nav>        
        <!--end of navigation bar-->

        

        <div class="container" >
            <div class="row">
                <div class="col m-2">
                    <h1 class="text-center mt-5">Contate-nos!</h1>
                    <p> O melhor local para passar as suas férias é em uma ilha paradisíaca,
                        com praias de areias brancas e águas cristalinas.
                        Desfrute de dias ensolarados e noites estreladas enquanto relaxa em uma 
                        rede sob as palmeiras. Aproveite para praticar esportes aquáticos 
                        emocionantes ou simplesmente relaxar em um resort de luxo à beira-mar. 
                        Com uma incrível vista panorâmica, cada momento será inesquecível!</p>
                </div>
            </div>

            <div class="row m-4">
                <div class="col text-center">
                    <a href="/fazer-reserva-s" class="btn btn-success">Verificar disponibilidade!</a>
                </div>
            </div>
            
        </div>

        
    {{end}}
