{{template "base" .}}

    {{define "title"}}
        Verificar disponibilidade
    {{end}}

    {{define "css"}}
        <style>
            .my-footer{
                height: 8em;
                margin-top: 8em;
                padding: 2em;
                background-color: #2a2b2a;
                color: #fff;
                font-size: 80%;
            }
        </style>
    {{end}}

    {{define "content"}}
        <!--navigation bar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Bookings</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/sobre">Sobre</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/salas" role="button" data-toggle="dropdown" aria-expanded="false">
                    Salas
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/quartos/quartel">Quartel general</a>
                    <a class="dropdown-item" href="/quartos/suite">Suíte master</a>
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fazer-reserva">Fazer reserva</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/disponivel">Disponibilidade</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contato">Contato</a>
                </li>
              </ul>
            
            </div>
        </nav>        
        <!--end of navigation bar-->

       

        <div class="container main-content" >
            <div class="row">
                <div class="col m-2">
                    <h1 class="mt-5">Ver disponibilidade!</h1>
                    <form action="/disponivel" method="get">

                        <div class="form-group">
                          <label for="date-input">Data inicial</label>
                          <input
                             type="date" 
                             class="form-control"
                             id="date-input"
                             aria-describedby="date"
                             name="date-input"
                             data-date-format="dd/mm/yyyy"
                            >

                            <label for="date-input" class="mt-2">Data final</label>
                          <input
                             type="date" 
                             class="form-control"
                             id="date-end-input"
                             aria-describedby="date"
                             name="date-end-input"
                             data-date-format="dd/mm/yyyy"
                            >
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Conferir</button>

                      </form>
                </div>


            </div>

            
        </div>

       
       
    {{end}}

  
